@import "tailwindcss";

/* Basic styles for the entire application */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Link styles (optional) */
a {
  text-decoration: none;
}

/* For better readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #474e5b;
}

p {
  color: #374151;
}
